In [20]:
import pandas as pd

In [21]:
# Notebooks paths
H_DELTA_ZERO = './results/heston_delta_zero.csv'
H_DELTA_LOW = './results/heston_delta_low.csv'
H_DELTA_HIGH = './results/heston_delta_high.csv'

WILMOTT_DELTA_ZERO = './results/heston_delta_w_zero.csv'
WILMOTT_DELTA_LOW = './results/heston_delta_w_low.csv'
WILMOTT_DELTA_HIGH = './results/heston_delta_w_high.csv'

TD3_DELTA_ZERO = './results/td3-heston-zero_res.csv'
TD3_DELTA_LOW = './results/td3-heston-low_res.csv'
TD3_DELTA_HIGH = './results/td3-heston-high_res.csv'

In [22]:
df_h_zero = pd.read_csv(H_DELTA_ZERO, index_col=0)
df_h_low = pd.read_csv(H_DELTA_LOW, index_col=0)
df_h_high = pd.read_csv(H_DELTA_HIGH, index_col=0)
df_h_zero = df_h_zero.drop(columns=['Sigma'])
df_h_low = df_h_low.drop(columns=['Sigma'])
df_h_high = df_h_high.drop(columns=['Sigma'])

df_wilmott_zero = pd.read_csv(WILMOTT_DELTA_ZERO, index_col=0)
df_wilmott_low = pd.read_csv(WILMOTT_DELTA_LOW, index_col=0)
df_wilmott_high = pd.read_csv(WILMOTT_DELTA_HIGH, index_col=0)
df_wilmott_zero = df_wilmott_zero.drop(columns=['Sigma'])
df_wilmott_low = df_wilmott_low.drop(columns=['Sigma'])
df_wilmott_high = df_wilmott_high.drop(columns=['Sigma'])

df_td3_zero = pd.read_csv(TD3_DELTA_ZERO, index_col=0)
df_td3_low = pd.read_csv(TD3_DELTA_LOW, index_col=0)
df_td3_high = pd.read_csv(TD3_DELTA_HIGH, index_col=0)

In [23]:
# Rename the columns
df_h_zero = df_h_zero.rename(columns={'E_PL_T': 'E_PL_T_h', 'Std_PL_T': 'Std_PL_T_h'})
df_wilmott_zero = df_wilmott_zero.rename(columns={'E_PL_T': 'E_PL_T_wilmott', 'Std_PL_T': 'Std_PL_T_wilmott'})
df_td3_zero = df_td3_zero.rename(columns={'E_PL_T': 'E_PL_T_td3', 'Std_PL_T': 'Std_PL_T_td3'})

df_h_low = df_h_low.rename(columns={'E_PL_T': 'E_PL_T_h', 'Std_PL_T': 'Std_PL_T_h'})
df_wilmott_low = df_wilmott_low.rename(columns={'E_PL_T': 'E_PL_T_wilmott', 'Std_PL_T': 'Std_PL_T_wilmott'})
df_td3_low = df_td3_low.rename(columns={'E_PL_T': 'E_PL_T_td3', 'Std_PL_T': 'Std_PL_T_td3'})

df_h_high = df_h_high.rename(columns={'E_PL_T': 'E_PL_T_h', 'Std_PL_T': 'Std_PL_T_h'})
df_wilmott_high = df_wilmott_high.rename(columns={'E_PL_T': 'E_PL_T_wilmott', 'Std_PL_T': 'Std_PL_T_wilmott'})
df_td3_high = df_td3_high.rename(columns={'E_PL_T': 'E_PL_T_td3', 'Std_PL_T': 'Std_PL_T_td3'})

keys = ['Strike', 'Maturity', 'Rebalancing_freq']

## Zero transaction resutls

In [24]:
df_zero = pd.merge(df_h_zero, df_wilmott_zero, how='right', on=keys).merge(df_td3_zero, how='right', on=keys)
df_zero

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,0.040640,0.091072,0.132695,0.729567,-0.782924,0.473992
1,100,1.0,52,-0.043250,0.132418,-0.845909,0.778779,-0.270462,0.455284
2,80,1.0,252,-0.006877,0.020281,-0.388760,0.166501,-0.021536,0.179405
3,80,1.0,52,-0.022194,0.038731,-0.268785,0.153725,-0.076089,0.154965
4,90,1.0,252,0.001748,0.045124,0.064965,0.368950,-0.386783,0.286377
5,90,1.0,52,-0.182112,0.077911,-0.106405,0.390932,0.827863,0.271550
6,110,1.0,252,0.050987,0.189664,-1.049309,1.497469,-0.031677,0.624285
7,110,1.0,52,0.020066,0.261148,0.001035,1.279291,0.069819,0.614474
8,120,1.0,252,0.048119,0.330786,-0.304607,2.868500,0.171636,1.385897
9,120,1.0,52,-0.151093,0.533226,-0.295998,2.684254,0.063540,1.564486
10,100,2.0,504,-0.472591,0.193760,1.191451,0.613663,-0.144966,0.543592
11,100,2.0,104,-0.020943,0.195219,-1.102203,0.705103,-0.192433,0.606069
12,100,0.5,121,NaN,NaN,NaN,NaN,-0.015762,0.447815
13,100,0.5,26,NaN,NaN,NaN,NaN,-0.316144,0.498293
14,100,0.2,50,NaN,NaN,NaN,NaN,0.070590,0.442753
15,100,0.2,10,NaN,NaN,NaN,NaN,0.069001,0.576910

### Different strikes, daily rebalancing

In [25]:
df_zero[(df_zero['Rebalancing_freq'] == 252)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,0.040640,0.091072,0.132695,0.729567,-0.782924,0.473992
2,80,1.0,252,-0.006877,0.020281,-0.388760,0.166501,-0.021536,0.179405
4,90,1.0,252,0.001748,0.045124,0.064965,0.368950,-0.386783,0.286377
6,110,1.0,252,0.050987,0.189664,-1.049309,1.497469,-0.031677,0.624285
8,120,1.0,252,0.048119,0.330786,-0.304607,2.868500,0.171636,1.385897

### Different strikes, weekly rebalancing

In [26]:
df_zero[(df_zero['Rebalancing_freq'] == 52)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
1,100,1.0,52,-0.043250,0.132418,-0.845909,0.778779,-0.270462,0.455284
3,80,1.0,52,-0.022194,0.038731,-0.268785,0.153725,-0.076089,0.154965
5,90,1.0,52,-0.182112,0.077911,-0.106405,0.390932,0.827863,0.271550
7,110,1.0,52,0.020066,0.261148,0.001035,1.279291,0.069819,0.614474
9,120,1.0,52,-0.151093,0.533226,-0.295998,2.684254,0.063540,1.564486

### Different maturities, daily rebalancing

In [27]:
df_zero[(df_zero['Rebalancing_freq'].isin([504, 121, 50]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
10,100,2.0,504,-0.472591,0.19376,1.191451,0.613663,-0.144966,0.543592
12,100,0.5,121,NaN,NaN,NaN,NaN,-0.015762,0.447815
14,100,0.2,50,NaN,NaN,NaN,NaN,0.070590,0.442753

### Different maturities, weekly rebalancing

In [28]:
df_zero[(df_zero['Rebalancing_freq'].isin([104, 26, 10]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
11,100,2.0,104,-0.020943,0.195219,-1.102203,0.705103,-0.192433,0.606069
13,100,0.5,26,NaN,NaN,NaN,NaN,-0.316144,0.498293
15,100,0.2,10,NaN,NaN,NaN,NaN,0.069001,0.576910

## Low transaction resutls

In [29]:
df_low = pd.merge(df_h_low, df_wilmott_low, how='right', on=keys).merge(df_td3_low, how='right', on=keys)
df_low

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,0.105052,0.083401,0.012717,0.457860,-1.057996,0.811667
1,100,1.0,52,0.234714,0.127319,0.276614,0.526924,0.422359,0.700430
2,80,1.0,252,-0.051767,0.017008,0.262440,0.033669,-0.037751,0.083139
3,80,1.0,52,-0.089186,0.036181,-0.713074,0.176402,-0.182991,0.121937
4,90,1.0,52,-0.014970,0.081194,0.132751,0.309528,0.679563,0.220144
5,90,1.0,52,-0.014970,0.081194,0.132751,0.309528,-0.121585,0.268046
6,110,1.0,52,-0.062512,0.265711,0.495298,1.274282,1.239118,1.621701
7,110,1.0,52,-0.062512,0.265711,0.495298,1.274282,-0.170234,1.931272
8,120,1.0,52,0.034233,0.440996,0.362886,1.832974,-0.529750,4.795967
9,120,1.0,52,0.034233,0.440996,0.362886,1.832974,-0.325317,5.104982
10,100,2.0,504,-0.155680,0.205872,-0.029408,0.253894,0.276189,0.670610
11,100,2.0,104,-0.057481,0.191034,-0.353693,0.682922,0.319362,0.623678
12,100,0.5,121,NaN,NaN,NaN,NaN,0.516281,0.610625
13,100,0.5,26,NaN,NaN,NaN,NaN,0.081835,0.749844
14,100,0.2,50,NaN,NaN,NaN,NaN,0.249070,0.606605
15,100,0.2,10,NaN,NaN,NaN,NaN,0.166774,0.769610

### Different strikes, daily rebalancing

In [30]:
df_low[(df_low['Rebalancing_freq'] == 252)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,0.105052,0.083401,0.012717,0.457860,-1.057996,0.811667
2,80,1.0,252,-0.051767,0.017008,0.262440,0.033669,-0.037751,0.083139

### Different strikes, weekly rebalancing

In [31]:
df_low[(df_low['Rebalancing_freq'] == 52)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
1,100,1.0,52,0.234714,0.127319,0.276614,0.526924,0.422359,0.700430
3,80,1.0,52,-0.089186,0.036181,-0.713074,0.176402,-0.182991,0.121937
4,90,1.0,52,-0.014970,0.081194,0.132751,0.309528,0.679563,0.220144
5,90,1.0,52,-0.014970,0.081194,0.132751,0.309528,-0.121585,0.268046
6,110,1.0,52,-0.062512,0.265711,0.495298,1.274282,1.239118,1.621701
7,110,1.0,52,-0.062512,0.265711,0.495298,1.274282,-0.170234,1.931272
8,120,1.0,52,0.034233,0.440996,0.362886,1.832974,-0.529750,4.795967
9,120,1.0,52,0.034233,0.440996,0.362886,1.832974,-0.325317,5.104982

### Different maturities, daily rebalancing

In [32]:
df_low[(df_low['Rebalancing_freq'].isin([504, 121, 50]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
10,100,2.0,504,-0.15568,0.205872,-0.029408,0.253894,0.276189,0.670610
12,100,0.5,121,NaN,NaN,NaN,NaN,0.516281,0.610625
14,100,0.2,50,NaN,NaN,NaN,NaN,0.249070,0.606605

### Different maturities, weekly rebalancing

In [33]:
df_low[(df_low['Rebalancing_freq'].isin([104, 26, 10]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
11,100,2.0,104,-0.057481,0.191034,-0.353693,0.682922,0.319362,0.623678
13,100,0.5,26,NaN,NaN,NaN,NaN,0.081835,0.749844
15,100,0.2,10,NaN,NaN,NaN,NaN,0.166774,0.769610

## High transaction resutls

In [34]:
df_high = pd.merge(df_h_high, df_wilmott_high, how='right', on=keys).merge(df_td3_high, how='right', on=keys)
df_high

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,-0.217906,0.089246,0.451075,0.653722,-0.260576,0.697150
1,100,1.0,252,-0.217906,0.089246,-0.168228,0.710343,-0.260576,0.697150
2,100,1.0,52,-0.063254,0.130359,1.309271,0.627421,-0.153052,0.684177
3,80,1.0,252,-0.167549,0.024219,0.193722,0.128341,-0.364156,0.320059
4,80,1.0,52,NaN,NaN,NaN,NaN,-0.518110,0.357153
5,90,1.0,52,NaN,NaN,NaN,NaN,-0.503679,0.409704
6,90,1.0,52,NaN,NaN,NaN,NaN,0.177020,0.464340
7,110,1.0,52,NaN,NaN,NaN,NaN,-0.125902,1.217838
8,110,1.0,52,NaN,NaN,NaN,NaN,0.580529,0.758750
9,120,1.0,52,NaN,NaN,NaN,NaN,0.868666,2.147698
10,120,1.0,52,NaN,NaN,NaN,NaN,-0.122675,2.204365
11,100,2.0,504,NaN,NaN,NaN,NaN,1.338429,1.350465
12,100,2.0,104,NaN,NaN,NaN,NaN,1.252700,1.234719
13,100,0.5,121,NaN,NaN,NaN,NaN,0.015290,0.779877
14,100,0.5,26,NaN,NaN,NaN,NaN,0.383604,0.705314
15,100,0.2,50,NaN,NaN,NaN,NaN,0.087429,0.755630
16,100,0.2,10,NaN,NaN,NaN,NaN,-0.000588,0.808957

### Different strikes, daily rebalancing

In [35]:
df_high[(df_high['Rebalancing_freq'] == 252)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
0,100,1.0,252,-0.217906,0.089246,0.451075,0.653722,-0.260576,0.697150
1,100,1.0,252,-0.217906,0.089246,-0.168228,0.710343,-0.260576,0.697150
3,80,1.0,252,-0.167549,0.024219,0.193722,0.128341,-0.364156,0.320059

### Different strikes, weekly rebalancing

In [36]:
df_high[(df_high['Rebalancing_freq'] == 52)]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
2,100,1.0,52,-0.063254,0.130359,1.309271,0.627421,-0.153052,0.684177
4,80,1.0,52,NaN,NaN,NaN,NaN,-0.518110,0.357153
5,90,1.0,52,NaN,NaN,NaN,NaN,-0.503679,0.409704
6,90,1.0,52,NaN,NaN,NaN,NaN,0.177020,0.464340
7,110,1.0,52,NaN,NaN,NaN,NaN,-0.125902,1.217838
8,110,1.0,52,NaN,NaN,NaN,NaN,0.580529,0.758750
9,120,1.0,52,NaN,NaN,NaN,NaN,0.868666,2.147698
10,120,1.0,52,NaN,NaN,NaN,NaN,-0.122675,2.204365

### Different maturities, daily rebalancing

In [37]:
df_high[(df_high['Rebalancing_freq'].isin([504, 121, 50]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
11,100,2.0,504,NaN,NaN,NaN,NaN,1.338429,1.350465
13,100,0.5,121,NaN,NaN,NaN,NaN,0.015290,0.779877
15,100,0.2,50,NaN,NaN,NaN,NaN,0.087429,0.755630

### Different maturities, weekly rebalancing

In [38]:
df_high[(df_high['Rebalancing_freq'].isin([104, 26, 10]))]

,Strike,Maturity,Rebalancing_freq,E_PL_T_h,Std_PL_T_h,E_PL_T_wilmott,Std_PL_T_wilmott,E_PL_T_td3,Std_PL_T_td3
12,100,2.0,104,NaN,NaN,NaN,NaN,1.252700,1.234719
14,100,0.5,26,NaN,NaN,NaN,NaN,0.383604,0.705314
16,100,0.2,10,NaN,NaN,NaN,NaN,-0.000588,0.808957